Interval  20
ReadThreads 5
LoadPlugin syslog
<Plugin syslog>
  LogLevel info
</Plugin>
LoadPlugin network
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin load
LoadPlugin memory
LoadPlugin swap
LoadPlugin users
LoadPlugin interface
<Plugin interface>
  Interface "eth0"
</Plugin>



LoadPlugin amqp
<Plugin "amqp">
 <Publish "name">
    Host "GIRAFFI_ENDPOINT"
    Port 5672
    VHost "/"
    User "GIRAFFI_USER_ID"
    Password "GIRAFFI_API_KEY"
    Exchange "collectd.json.topic"
    RoutingKey "collectd.GIRAFFI_USER_ID"
    Persistent false
    StoreRates false
    Format "JSON"
  </Publish>
</Plugin>

